extends ../layouts/LayoutComponent
include ../mixins/components/Maps

prepend styles 

prepend scripts
  script.
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
      key: 'AIzaSyDbaQGvhe7Af-uOMJz68NWHnO34UjjE7Lo',
      v: "weekly",
      libraries: "marker,streetView"
    });

append variables
  - var pageTitle = 'Google Map'
  - var pageDes = 'Integrate Google Maps effortlessly to provide interactive, real-time location tracking and enhance user experience with detailed maps.'

append component 
  +ComponentCard({
    title: 'Example',
    anchor: true,
    prismTitle: 'Html',
    prismTitleClass: 'mt-5',
    description: `To enable the map view in your component, add 
    <code>data-gmap="data-gmap"</code> attribute in your HTML element. 
    Next, generate your custom map styles in the 
    <a href='https://console.cloud.google.com/google/maps-apis' target='_blank'>Google Maps Platform</a>
    by visiting the Map Styles section, then create a Map ID from the Map Management panel. 
    Once, your Map ID is ready, include it in your HTML using the <code>data-mapid="YOUR_MAP_ID"</code> attribute. 
    This Map ID is required to properly render Google Maps API v3 with the <code>AdvancedMarkerElement</code>.
    `
  }).mb-3
    +MapBasicExample

  +ComponentCard({
    title: 'Example of street view',
    anchor: true,
    titleClass: 'mt-5',
    description: `To enable Street View Panorama mode, simply add the <code>data-theme="streetview"</code> 
    attribute to your HTML element, Additionally, to fully enable Street View functionality through the 
    Google Maps API, make sure to include the required library <code>streetView</code> in the script tag
    when loading the Google Maps API. This ensures that the Street View components and features load correctly.
    ` 
  }).mb-5
    +StreetMapView

  .card
    .card-header 
      h5.mb-1  Setup Google Maps 
    .card-body 
      ul.ps-0.bullet-inside 
        li.mb-3 
          a(
            href='https://developers.google.com/maps/documentation/javascript/get-api-key',
            target='_blank'
          ).font-sans-serif Get your API key
          span.d-inline-block.ms-1 &xrarr;

        li.mb-3 Add the script to your page
          +ComponentCardLib
            script.
              (g => {
                var h, a, k, p = "The Google Maps JavaScript API",
                    c = "google", l = "importLibrary", q = "__ib__",
                    m = document, b = window;
                b = b[c] || (b[c] = {});
                var d = b.maps || (b.maps = {}), r = new Set(), e = new URLSearchParams,
                    u = () => h || (h = new Promise(async (f, n) => {
                      await (a = m.createElement("script"));
                      e.set("libraries", [...r] + "");
                      for (k in g)
                        e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
                      e.set("callback", c + ".maps." + q);
                      a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
                      d[q] = f;
                      a.onerror = () => h = n(Error(p + " could not load."));
                      a.nonce = m.querySelector("script[nonce]")?.nonce || "";
                      m.head.append(a);
                    }));
                d[l]
                  ? console.warn(p + " only loads once. Ignoring:", g)
                  : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
              })({
                key: 'YOUR_API_KEY',
                v: "weekly",
                libraries: "marker,streetView" // Libraries to load
              });

